<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClasesBase.Properties.Settings.prestamoConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\prestamo.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ClasesBase.Properties.Settings.prestamoConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\lpoo1\tp3\grupo8-lpoo1\DB\prestamo.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="ClasesBase.Properties.Settings.EjemploAlumnosConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\enzov\Documents\Proyectos\EjemploAccesoaDatos\DB\EjemploAlumnos.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>